<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_gradient.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,662},{576,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{576,84}}</string>
                <key>sourceSize</key>
                <string>{580,84}</string>
            </dict>
            <key>fourth_prize_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1318},{463,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{463,108}}</string>
                <key>sourceSize</key>
                <string>{475,110}</string>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,662},{654,668}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,105},{654,668}}</string>
                <key>sourceSize</key>
                <string>{878,878}</string>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,869},{625,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,675}}</string>
                <key>sourceSize</key>
                <string>{625,675}</string>
            </dict>
            <key>light_thanks.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,662},{392,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,392}}</string>
                <key>sourceSize</key>
                <string>{392,392}</string>
            </dict>
            <key>prize_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1},{650,150}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{650,150}}</string>
                <key>sourceSize</key>
                <string>{668,154}</string>
            </dict>
            <key>ring_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{868,866}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,82},{868,866}}</string>
                <key>sourceSize</key>
                <string>{1126,1030}</string>
            </dict>
            <key>ring_reward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1},{771,659}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,51},{771,659}}</string>
                <key>sourceSize</key>
                <string>{1037,879}</string>
            </dict>
            <key>second_prize_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,869},{569,149}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{569,149}}</string>
                <key>sourceSize</key>
                <string>{583,153}</string>
            </dict>
            <key>third_prize_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1},{496,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{496,116}}</string>
                <key>sourceSize</key>
                <string>{508,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>light.png</string>
            <key>size</key>
            <string>{2020,1495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b114dbf6a310548907a4f1ff968edf7c:af75c3ce7d405e1c9205cb92ea76038d:b2addeb3122b9af095fd97312ef00a86$</string>
            <key>textureFileName</key>
            <string>light.png</string>
        </dict>
    </dict>
</plist>
