<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>first_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1},{542,336}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{542,336}}</string>
                <key>sourceSize</key>
                <string>{560,354}</string>
            </dict>
            <key>fourth_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,1},{180,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{180,434}}</string>
                <key>sourceSize</key>
                <string>{194,446}</string>
            </dict>
            <key>second_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{564,376}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,66},{564,376}}</string>
                <key>sourceSize</key>
                <string>{714,504}</string>
            </dict>
            <key>spin_first_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,183},{87,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{87,127}}</string>
                <key>sourceSize</key>
                <string>{93,135}</string>
            </dict>
            <key>spin_fourth_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,183},{129,127}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{129,127}}</string>
                <key>sourceSize</key>
                <string>{151,149}</string>
            </dict>
            <key>spin_second_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,183},{125,106}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{125,106}}</string>
                <key>sourceSize</key>
                <string>{189,206}</string>
            </dict>
            <key>spin_third_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,183},{107,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{107,80}}</string>
                <key>sourceSize</key>
                <string>{111,84}</string>
            </dict>
            <key>third_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1},{229,373}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{229,373}}</string>
                <key>sourceSize</key>
                <string>{237,381}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>prize.png</string>
            <key>size</key>
            <string>{1777,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5c90ebc66dde40de3a526cf55a9991e:38491740a18c3aea73a71ef1be586042:68dfc9e5d61f19e22c87e60147a13668$</string>
            <key>textureFileName</key>
            <string>prize.png</string>
        </dict>
    </dict>
</plist>
