<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,933},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ring_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1010},{509,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{509,509}}</string>
                <key>sourceSize</key>
                <string>{513,513}</string>
            </dict>
            <key>ring_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1},{518,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,518}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>ring_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,588},{561,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{561,561}}</string>
                <key>sourceSize</key>
                <string>{595,595}</string>
            </dict>
            <key>ring_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1010},{516,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,516}}</string>
                <key>sourceSize</key>
                <string>{516,516}</string>
            </dict>
            <key>spin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1},{464,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,464}}</string>
                <key>sourceSize</key>
                <string>{464,464}</string>
            </dict>
            <key>spin_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,467},{464,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,464}}</string>
                <key>sourceSize</key>
                <string>{464,464}</string>
            </dict>
            <key>spin_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,521},{518,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{518,487}}</string>
                <key>sourceSize</key>
                <string>{522,491}</string>
            </dict>
            <key>spin_light_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{586,585}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{586,585}}</string>
                <key>sourceSize</key>
                <string>{602,601}</string>
            </dict>
            <key>yellow_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1151},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{118,118}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spin.png</string>
            <key>size</key>
            <string>{1592,1527}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d079d8ed5c4b3517a71e43f607deb274:6a7cbed9c844b95208a36b734c0a5e35:a5fe47833292e521e69f0cf3e6a43d83$</string>
            <key>textureFileName</key>
            <string>spin.png</string>
        </dict>
    </dict>
</plist>
