<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,295},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,109}</string>
            </dict>
            <key>end_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,553},{226,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{226,104}}</string>
                <key>sourceSize</key>
                <string>{230,108}</string>
            </dict>
            <key>input_form.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,404},{318,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,50}}</string>
                <key>sourceSize</key>
                <string>{318,50}</string>
            </dict>
            <key>logi_vin.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,159},{103,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,27}}</string>
                <key>sourceSize</key>
                <string>{103,27}</string>
            </dict>
            <key>logo_coca.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,568},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{190,190}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>next_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,391},{305,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{305,134}}</string>
                <key>sourceSize</key>
                <string>{309,136}</string>
            </dict>
            <key>spin_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,159},{403,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{403,134}}</string>
                <key>sourceSize</key>
                <string>{407,136}</string>
            </dict>
            <key>text_congrat.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,295},{466,111}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{466,111}}</string>
                <key>sourceSize</key>
                <string>{586,127}</string>
            </dict>
            <key>text_first_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1},{565,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,81}}</string>
                <key>sourceSize</key>
                <string>{565,81}</string>
            </dict>
            <key>text_fourth_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1},{571,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,80}}</string>
                <key>sourceSize</key>
                <string>{571,80}</string>
            </dict>
            <key>text_input_information.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,581},{193,267}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,267}}</string>
                <key>sourceSize</key>
                <string>{195,271}</string>
            </dict>
            <key>text_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,295},{159,94}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,94}}</string>
                <key>sourceSize</key>
                <string>{195,112}</string>
            </dict>
            <key>text_second_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1},{557,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,81}}</string>
                <key>sourceSize</key>
                <string>{557,81}</string>
            </dict>
            <key>text_sign_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1},{576,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{576,85}}</string>
                <key>sourceSize</key>
                <string>{580,85}</string>
            </dict>
            <key>text_third_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1},{550,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,81}}</string>
                <key>sourceSize</key>
                <string>{550,81}</string>
            </dict>
            <key>text_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1},{414,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{414,106}}</string>
                <key>sourceSize</key>
                <string>{586,106}</string>
            </dict>
            <key>title_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,109},{414,48}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{414,48}}</string>
                <key>sourceSize</key>
                <string>{586,56}</string>
            </dict>
            <key>title_information.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{578,84}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{578,84}}</string>
                <key>sourceSize</key>
                <string>{674,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>widget.png</string>
            <key>size</key>
            <string>{938,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:957c2d6e666cdd7c9748df80ebc7d058:773117cfadc76392ae2d8e1dc3eca8f0:f60a47cba5203cab6370f6d01b4bf9d9$</string>
            <key>textureFileName</key>
            <string>widget.png</string>
        </dict>
    </dict>
</plist>
